.ABB{
    margin-top:80px;
    background-color:aliceblue;
    width: 1540px;
    height:110px;
}
.bbb{
    background-color: rgb(236, 224, 227);
}
.ddd{
    background-color: rgb(236, 224, 227); 
}
.eee{
    background-color: rgb(236, 224, 227); 
}